
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>username</th>
                    <th>Email</th>
                    <th>EmailConfirmed</th>
                    <th>PasswordHash</th>
                    <th>SecurityStamp</th>
                    <th>PhoneNumber</th>
                    <th>PhoneNumberConfirmed</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in orders">
                    <td>
                        {{ order.Id }}
                    </td>
                    <td>
                        {{ order.UserName }}
                    </td>
                    <td>
                        {{ order.Email }}
                    </td>
                    <td>
                        {{ order.EmailConfirmed }}
                    </td>
                    <td>
                        {{ order.PasswordHash }}
                    </td>
                    <td>
                        {{ order.SecurityStamp }}
                    </td>
                    <td>
                        {{ order.PhoneNumber }}
                    </td>
                    <td>
                        {{ order.PhoneNumberConfirmed }}
                    </td>                   
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
